.cover__description-text {
    align-self: center;
    color: white;
    font-weight: 400;
    font-size: 22px;
    font-style: normal;
    line-height: 1.27273em;
    text-transform: uppercase;
    word-spacing: 0.82em;
}